/* notfound.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#notfound {
  position: relative;
  height: 100%;
}

.notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 100px;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
}

.notfound .notfound-404 h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.notfound h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
}

.notfound p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.notfound a {
  display: inline-block;
  padding: 10px 25px;
  background-color: #ff7f0e;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 40px;
  transition: background-color 0.2s;
}

.notfound a:hover {
  background-color: #333;
}
